trunk/qooxdoo-contrib/QWT/tags/0.7.2/toolkit/plugin/src/main/resources/doctree.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="doctree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="packages"/>
      </xs:sequence>
      <xs:attribute name="hasWarning" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="packages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="package"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="package">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="packages"/>
        <xs:element minOccurs="0" ref="classes"/>
        <xs:element minOccurs="0" ref="desc"/>
      </xs:all>
      <xs:attribute name="fullName" type="xs:string" use="required"/>
      <xs:attribute name="packageName" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      
      <xs:attribute name="hasWarning" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="class"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="class">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="see"/>
        <xs:element minOccurs="0" ref="deprecated"/>
        
        <!-- one "ctor" method inside: -->
        <xs:element minOccurs="0" ref="constructor"/>
        
        <xs:element minOccurs="0" ref="constants"/>
        <xs:element minOccurs="0" ref="events"/>

        <!-- only none-static methods inside: -->
        <xs:element minOccurs="0" ref="methods"/>

        <!-- only static methods inside: -->
        <xs:element minOccurs="0" ref="methods-static"/>
        <xs:element minOccurs="0" ref="appearances"/>
        <xs:element minOccurs="0" ref="properties"/>
      </xs:all>
      <xs:attribute name="access" type="xs:string"/>
      <xs:attribute name="type" type="xs:string" use="required"/>

      <xs:attribute name="fullName" type="xs:string" use="required"/>
      <xs:attribute name="packageName" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>

      <xs:attribute name="superClass" type="xs:string"/>
      <xs:attribute name="interfaces" type="xs:string"/>
      <xs:attribute name="mixins" type="xs:string"/>
      <xs:attribute name="includer" type="xs:string"/>
      <xs:attribute name="childClasses" type="xs:string"/>
      <xs:attribute name="implementations" type="xs:string"/>
      
      <xs:attribute name="isAbstract" type="xs:boolean" />
      <xs:attribute name="isInternal" type="xs:boolean" />

      <!-- redundant: true if all methods are static -->
      <xs:attribute name="isStatic" type="xs:boolean" />

      <xs:attribute name="isSingleton" type="xs:boolean" />

      <xs:attribute name="hasWarning" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="constants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="constant"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="constant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="types"/>
        <xs:element minOccurs="0" ref="errors"/>
      </xs:sequence>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>

      <xs:attribute name="hasError" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="constructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="method"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="events">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="errors"/>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="types"/>
      </xs:sequence>
      <xs:attribute name="event" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="hasError" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="methods-static">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="method"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="methods">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="method"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="method">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="deprecated"/>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="params"/>
        <xs:element minOccurs="0" ref="return"/>
        <xs:element minOccurs="0" ref="errors"/>
        <xs:element minOccurs="0" ref="see"/>
      </xs:all>
      <xs:attribute name="access" type="xs:string"/>
      <xs:attribute name="fromProperty" type="xs:string"/>
      <xs:attribute name="overriddenFrom" type="xs:string"/>
      <xs:attribute name="apply" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="docFrom" type="xs:string"/>
      <xs:attribute name="isInternal" type="xs:boolean" />
      <xs:attribute name="isMixin" type="xs:boolean" />
      <xs:attribute name="isStatic" type="xs:boolean" />
      <xs:attribute name="isAbstract" type="xs:boolean" />
      <xs:attribute name="isCtor" type="xs:boolean" />

      <xs:attribute name="hasWarning" type="xs:boolean" />
      <xs:attribute name="hasError" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="params">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="param"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="types"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="defaultValue" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="return">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element ref="types"/>
      </xs:sequence>
      <xs:attribute name="defaultValue" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="types">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType>
      <xs:attribute name="dimensions" type="xs:string"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="text" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="property"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="deprecated"/>
        <xs:element minOccurs="0" ref="errors"/>
        <xs:element minOccurs="0" ref="types"/>
      </xs:sequence>
      <xs:attribute name="propertyType" type="xs:string" />
      <xs:attribute name="inheritable" type="xs:boolean" />
      <xs:attribute name="mode" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="defaultValue" type="xs:string"/>
      <xs:attribute name="event" type="xs:string"/>
      <xs:attribute name="group" type="xs:string"/>
      <xs:attribute name="apply" type="xs:string"/>
      <xs:attribute name="docFrom" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="overriddenFrom" type="xs:string"/>
      <xs:attribute name="oldProperty" type="xs:string"/>
      <xs:attribute name="allowNull" type="xs:boolean" />
      <xs:attribute name="isMixin" type="xs:boolean" />
      <xs:attribute name="check" type="xs:string"/>
      <xs:attribute name="possibleValues" type="xs:string"/>
      <xs:attribute name="refine" type="xs:string"/>
      <xs:attribute name="themeable" type="xs:boolean"/>

      <xs:attribute name="hasWarning" type="xs:boolean" />
      <xs:attribute name="hasError" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="errors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="error"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="error">
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xs:anyType">
          <xs:attribute name="msg" type="xs:string"/>
          <xs:attribute name="column" type="xs:string"/>
          <xs:attribute name="line" type="xs:string"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="deprecated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="see">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="appearances">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="appearance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="appearance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="states"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="states">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="state"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="state">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
